In [3]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv("globalterrorism.csv")

In [5]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,1.970000e+11,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,1.970000e+11,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,1.970010e+11,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,1.970010e+11,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,1.970010e+11,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(56), int64(21), object(58)
memory usage: 187.1+ MB

In [7]:
df.shape

(181691, 135)

In [8]:
# show all column names on df
print(df.columns.tolist())

['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended', 'resolution', 'country', 'country_txt', 'region', 'region_txt', 'provstate', 'city', 'latitude', 'longitude', 'specificity', 'vicinity', 'location', 'summary', 'crit1', 'crit2', 'crit3', 'doubtterr', 'alternative', 'alternative_txt', 'multiple', 'success', 'suicide', 'attacktype1', 'attacktype1_txt', 'attacktype2', 'attacktype2_txt', 'attacktype3', 'attacktype3_txt', 'targtype1', 'targtype1_txt', 'targsubtype1', 'targsubtype1_txt', 'corp1', 'target1', 'natlty1', 'natlty1_txt', 'targtype2', 'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2', 'target2', 'natlty2', 'natlty2_txt', 'targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3', 'natlty3_txt', 'gname', 'gsubname', 'gname2', 'gsubname2', 'gname3', 'gsubname3', 'motive', 'guncertain1', 'guncertain2', 'guncertain3', 'individual', 'nperps', 'nperpcap', 'claimed', 'claimmode', 'claimmode_txt', 'claim2', 'claimmode2', 'claimmode2_txt', 'claim3', 'claimmode3', 'claimmode3_txt', 'compclaim', 'weaptype1', 'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt', 'weaptype2', 'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt', 'weaptype3', 'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt', 'weaptype4', 'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt', 'weapdetail', 'nkill', 'nkillus', 'nkillter', 'nwound', 'nwoundus', 'nwoundte', 'property', 'propextent', 'propextent_txt', 'propvalue', 'propcomment', 'ishostkid', 'nhostkid', 'nhostkidus', 'nhours', 'ndays', 'divert', 'kidhijcountry', 'ransom', 'ransomamt', 'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote', 'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased', 'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related']

In [9]:
# column date
# changing 0 to 1 in the month and day columns
df.loc[(df['imonth'] == 0, 'imonth')] = 1
df.loc[(df['iday'] == 0), 'iday'] = 1

In [10]:
# create new column date based on iyear, imonth and iday column values
df.insert(1, 'date', '')

In [11]:
from datetime import date
DATE = []
for y,m,d in zip(df.iyear, df.imonth, df.iday):
    DATE.append(date(y,m,d))
    
df['date'] = DATE

df = df.drop(columns = ['iyear','imonth','iday'])

In [12]:
df.head()

,eventid,date,approxdate,extended,resolution,country,country_txt,region,region_txt,provstate,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,1.970000e+11,1970-07-02,NaN,0,NaN,58,Dominican Republic,2,Central America & Caribbean,NaN,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,1.970000e+11,1970-01-01,NaN,0,NaN,130,Mexico,1,North America,Federal,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,1.970010e+11,1970-01-01,NaN,0,NaN,160,Philippines,5,Southeast Asia,Tarlac,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,1.970010e+11,1970-01-01,NaN,0,NaN,78,Greece,8,Western Europe,Attica,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,1.970010e+11,1970-01-01,NaN,0,NaN,101,Japan,4,East Asia,Fukouka,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [13]:
pd.to_datetime(df['date'], format= '%Y-%m-%d')

0        1970-07-02
1        1970-01-01
2        1970-01-01
3        1970-01-01
4        1970-01-01
            ...
181686   2017-12-31
181687   2017-12-31
181688   2017-12-31
181689   2017-12-31
181690   2017-12-31
Name: date, Length: 181691, dtype: datetime64[ns]

In [14]:
print(df.columns.tolist())

['eventid', 'date', 'approxdate', 'extended', 'resolution', 'country', 'country_txt', 'region', 'region_txt', 'provstate', 'city', 'latitude', 'longitude', 'specificity', 'vicinity', 'location', 'summary', 'crit1', 'crit2', 'crit3', 'doubtterr', 'alternative', 'alternative_txt', 'multiple', 'success', 'suicide', 'attacktype1', 'attacktype1_txt', 'attacktype2', 'attacktype2_txt', 'attacktype3', 'attacktype3_txt', 'targtype1', 'targtype1_txt', 'targsubtype1', 'targsubtype1_txt', 'corp1', 'target1', 'natlty1', 'natlty1_txt', 'targtype2', 'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2', 'target2', 'natlty2', 'natlty2_txt', 'targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3', 'natlty3_txt', 'gname', 'gsubname', 'gname2', 'gsubname2', 'gname3', 'gsubname3', 'motive', 'guncertain1', 'guncertain2', 'guncertain3', 'individual', 'nperps', 'nperpcap', 'claimed', 'claimmode', 'claimmode_txt', 'claim2', 'claimmode2', 'claimmode2_txt', 'claim3', 'claimmode3', 'claimmode3_txt', 'compclaim', 'weaptype1', 'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt', 'weaptype2', 'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt', 'weaptype3', 'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt', 'weaptype4', 'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt', 'weapdetail', 'nkill', 'nkillus', 'nkillter', 'nwound', 'nwoundus', 'nwoundte', 'property', 'propextent', 'propextent_txt', 'propvalue', 'propcomment', 'ishostkid', 'nhostkid', 'nhostkidus', 'nhours', 'ndays', 'divert', 'kidhijcountry', 'ransom', 'ransomamt', 'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote', 'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased', 'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related']

In [15]:
df = df.replace({'Unknown':'', -99.0 : '', -9.0 : ''}, regex=True)

In [16]:
df.rename(columns={'country_txt':'Country','region_txt':'Region','attacktype1_txt':'Attack_type','target1':'Target',
                   'nkill':'Killed','nwound':'Wounded','summary':'Summary','gname':'Group','targtype1_txt':'Target_type',
                   'weaptype1_txt':'Weapon_type','success':'Success','motive':'Motive'}, inplace=True)

In [17]:
new_df = df[['eventid','date','Country','Region','city','latitude','longitude','Attack_type','Killed',
             'Wounded','Target','Summary','Group','Target_type','Weapon_type','Success','Motive']]

In [18]:
new_df['casualties'] = new_df['Killed'] + new_df['Wounded']
#make new column

In [19]:
new_df.head()

,eventid,date,Country,Region,city,latitude,longitude,Attack_type,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type,Success,Motive,casualties
0,1.970000e+11,1970-07-02,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,,1,NaN,1.0
1,1.970000e+11,1970-01-01,Mexico,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),,1,NaN,0.0
2,1.970010e+11,1970-01-01,Philippines,Southeast Asia,,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,,Journalists & Media,,1,NaN,1.0
3,1.970010e+11,1970-01-01,Greece,Western Europe,Athens,37.99749,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,,Government (Diplomatic),Explosives,1,NaN,NaN
4,1.970010e+11,1970-01-01,Japan,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,,Government (Diplomatic),Incendiary,1,NaN,NaN

In [20]:
new_df.fillna('')

,eventid,date,Country,Region,city,latitude,longitude,Attack_type,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type,Success,Motive,casualties
0,1.970000e+11,1970-07-02,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,,MANO-D,Private Citizens & Property,,1,,1.0
1,1.970000e+11,1970-01-01,Mexico,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",,23rd of September Communist League,Government (Diplomatic),,1,,0.0
2,1.970010e+11,1970-01-01,Philippines,Southeast Asia,,15.478598,120.599741,Assassination,1.0,0.0,Employee,,,Journalists & Media,,1,,1.0
3,1.970010e+11,1970-01-01,Greece,Western Europe,Athens,37.99749,23.762728,Bombing/Explosion,,,U.S. Embassy,,,Government (Diplomatic),Explosives,1,,
4,1.970010e+11,1970-01-01,Japan,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,,,U.S. Consulate,,,Government (Diplomatic),Incendiary,1,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,2.017120e+11,2017-12-31,Somalia,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,Armed Assault,1.0,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms,1,,3.0
181687,2.017120e+11,2017-12-31,Syria,Middle East & North Africa,Jableh,35.407278,35.942679,Bombing/Explosion,2.0,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives,1,,9.0
181688,2.017120e+11,2017-12-31,Philippines,Southeast Asia,Kubentog,6.900742,124.437908,Facility/Infrastructure Attack,0.0,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary,1,,0.0
181689,2.017120e+11,2017-12-31,India,South Asia,Imphal,24.798346,93.94043,Bombing/Explosion,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,,Government (General),Explosives,0,,0.0
181690,2.017120e+11,2017-12-31,Philippines,Southeast Asia,Cotabato City,7.209594,124.241966,Bombing/Explosion,0.0,0.0,,12/31/2017: An explosive device was discovered...,,,Explosives,0,,0.0

In [21]:
new_df['casualties'].describe()

count    164817.000000
mean          5.296128
std          42.069023
min           0.000000
25%           0.000000
50%           1.000000
75%           4.000000
max        9574.000000
Name: casualties, dtype: float64

In [22]:
new_df.to_csv('gtd_clean.csv')

In [24]:
new_df.shape

(181691, 18)